body {
    margin-top: 50px;
    background-color: gray;
}
.cards {
    display: flex;
    align-items: center;
    justify-content: center;
}
.geoButtonPosition {
    display: flex;
    align-items: center;
    justify-content: center;
}
.geoButton {
    width: 100px;
   

}